[Desktop Entry]
Encoding=UTF-8
Name=Ang
Comment=Ang P2P Cryptocurrency
Comment[fr]=Ang, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ang, eşten eşe kriptografik sanal para birimi
Exec=ang-qt %u
Terminal=false
Type=Application
Icon=ang128
MimeType=x-scheme-handler/ang;
Categories=Office;Finance;
