[Unit]
Description=Ang's distributed currency daemon
After=network.target

[Service]
User=ang
Group=ang

Type=forking
PIDFile=/var/lib/angd/angd.pid
ExecStart=/usr/bin/angd -daemon -pid=/var/lib/angd/angd.pid \
-conf=/etc/ang/ang.conf -datadir=/var/lib/angd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
