[Unit]
Description=Pcoin's distributed currency daemon
After=network.target

[Service]
User=pcoin
Group=pcoin

Type=forking
PIDFile=/var/lib/pcoind/pcoind.pid
ExecStart=/usr/bin/pcoind -daemon -pid=/var/lib/pcoind/pcoind.pid \
-conf=/etc/pcoin/pcoin.conf -datadir=/var/lib/pcoind -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
